#TitreConnexion {
    text-align: center;
}
#H2 {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.MotListe {
    margin-left: 10rem;
}

.MotListe li {
    font-weight: bold;
    margin-top: 1.4rem;
    list-style-type: none;
    color: rgba(121, 121, 121, 1);
    font-size: 1.6rem;
}

.entre li {
    margin-top: 1.1rem;
    list-style-type: none;

}

.entre {
    margin-top: 1.1rem;
}
#Inscrire{
    margin : auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
#insription{
    height: 2.5rem;
    font: bold 13px Arial;
    background-color: rgba(194, 36, 42, 1);
    color: white;
    width: 33rem;
    border: 1px solid rgba(121, 121, 121, 1);
}
#insription:hover {
    background-color: rgba(121, 121, 121, 1);
}
#Connecter{
    margin : auto;
}
#Connexion{
    height: 2.5rem;
    font: bold 13px Arial;
    background-color: rgba(194, 36, 42, 1);
    color: white;
    width: 33rem;
    border: 1px solid rgba(121, 121, 121, 1);
}